.footer {
  display: block;
  background: var(--hero-background-color);
  padding: 60px 0px;
  text-align: center;

  &__container {
    display: block;
    align-items: baseline;
  }

  &__studio-footer {
    background: var(--hero-background-color);
    color: var(--background);
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: var(--description-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .address {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__item:not(:last-child) {
      margin-bottom: 8px;
    }

    &__link {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--background);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }

  .footer-social-links {
    padding-top: 60px;
    justify-content: center;

    &__join-title {
      display: block;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      color: var(--background);
      margin-bottom: 20px;
    }

    .social-media-list {
      justify-content: center;

      &__item {
        margin-right: 10px;
      }

      &__link {
        background: rgba(255, 255, 255, 0.1);
        fill: var(--background);

        &:hover,
        &:focus {
          background-color: var(--accent-color);
          fill: var(--background);
        }
      }
    }
  }

  &__form-wrapper {
    padding-top: 60px;
    display: block;
  }

  &__form-desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background);
    margin-bottom: 20px;
  }

  .form {
    display: block;
    align-items: center;
    text-align: center;

    .form-input {
      width: 450px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      background-color: var(--hero-background-color);
      color: #ffffff;
      padding-left: 16px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      font-size: 16px;
      margin-bottom: 20px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }

      &:focus {
        border: 1px solid var(--accent-color);
        outline: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .form {
      display: flex;
      flex-direction: column;
    }

    &__form-desc {
      text-align: left;
    }
  }

  @media screen and (min-width: 1200px) {
    .form {
      display: flex;
      align-items: center;
      flex-direction: row;
      align-items: stretch;

      .form-input {
        width: 358px;
        margin-right: 12px;
      }
    }

    &__form-wrapper {
      margin-left: 93px;
    }

    .address {
      &__item:not(:last-child) {
        margin-bottom: 9px;
      }
    }

    &__wrapper {
      text-align: left;
      margin-right: 70px;
    }

    .footer-social-links {
      text-align: left;
    }
  }
}

/*.footer {
  background: var(--hero-background-color);
  padding: 60px 0px;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__wrapper {
    box-sizing: border-box;
  }

  &__studio-footer {
    background: var(--hero-background-color);
    color: var(--background);
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--description-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .address {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__item:not(:last-child) {
      margin-bottom: 9px;
    }

    &__link {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--background);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }

  .footer-social-links {
    display: block;
    box-sizing: border-box;
    width: 206px;
    margin-left: 70px;
  }

  .footer-social-links-title {
    display: inline-block;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--background);
    margin-bottom: 20px;
  }

  .footer-social-media__list {
    &__link {
      background: rgba(255, 255, 255, 0.1);
      fill: var(--background);

      &:hover,
      &:focus {
        background-color: var(--accent-color);
        fill: var(--background);
      }
    }
  }

  &__form-wrapper {
    display: block;
    margin-left: 93px;

    &__form-desc {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--background);
      margin-bottom: 20px;
    }

    .form {
      display: flex;
      align-items: center;

      .form-input {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: var(--hero-background-color);
        color: #ffffff;
        padding-left: 16px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 16px;

        &::placeholder {
          color: rgba(255, 255, 255, 0.6);
        }

        &:focus {
          border: 1px solid var(--accent-color);
          outline: none;
        }
      }
    }
  }
}*/

/*.footer__studio-footer {
  background: var(--hero-background-color);
  color: var(--background);
}
.footer {
  background: var(--hero-background-color);
  padding: 60px 0px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .address {
  margin-top: 20px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.address {
  display: flex;
  flex-direction: column;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__wrapper {
  box-sizing: border-box;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--description-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}

.footer-social-links {
  display: block;
  box-sizing: border-box;
  width: 206px;
  margin-left: 70px;
}

.footer-social-links-title {
  display: inline-block;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background);
  margin-bottom: 20px;
}

.footer-social-media-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-media__link {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media__link:hover,
.footer-social-media__link:focus {
  background-color: var(--accent-color);
  fill: var(--background);
}

.footer__form-wrapper {
  display: block;
  margin-left: 93px;
}

.form {
  display: flex;
  align-items: center;
}

.footer__form-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background);
  margin-bottom: 20px;
}

.form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--hero-background-color);
  color: #ffffff;
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
*/
