.header {
  background: var(--background);
  border-bottom: 1px solid var(--header-border-color);
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }

  .contacts {
    display: none;
  }

  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .logo__studio {
    color: var(--color);
  }

  .burger-btn,
  .mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .burger-icon {
    width: 40px;
    height: 40px;
    fill: var(--color);

    &:hover {
      fill: var(--accent-color);
    }
  }

  .mobile-menu-close-icon {
    width: 40px;
    height: 40px;
    fill: var(--color);

    &:hover {
      fill: var(--accent-color);
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background: var(--background);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-100%) translateX(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;

    &__item {
      margin-bottom: 32px;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        cursor: pointer;
        color: var(--accent-color);
      }
    }
  }

  .current {
    color: var(--accent-color);
  }

  .mobile-menu.is-open {
    transform: translateY(0) translateX(-50%);
  }

  .mobile-contacts__list {
    padding-top: 302px;
  }

  .mobile-contacts__item {
    padding-bottom: 32px;
  }

  .mobile-contacts__link {
    color: var(--description-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }

  .mobile-contacts__link--current {
    color: #2196f3;
    font-size: 34px;
    line-height: 1.17;
  }

  .mobile-social__list {
    display: flex;
    padding-top: 64px;
  }

  .mobile-social__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:last-child {
      border-right: none;
    }
  }

  .mobile-social__link {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .contacts {
    display: block;
  }

  .nav {
    display: flex;
    align-items: center;
    margin-left: 93px;

    &__list {
      display: flex;
      align-items: center;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
      letter-spacing: 0.02em;
      color: var(--color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }

  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .logo__studio {
    color: var(--color);
  }

  .nav__current {
    color: var(--accent-color);
  }

  .nav__current::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }

  .contacts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 0;

    &__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.33;
      letter-spacing: 0.02em;
      color: var(--description-color);
      display: flex;
      align-items: center;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }

      &:hover svg,
      &:focus svg {
        fill: var(--accent-color);
      }
    }
  }

  .contacts__icon {
    margin-right: 10px;
    fill: var(--description-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1200px) {
    .contacts {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      margin-left: 305px;

      &__item:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  /*
    &__item {
      text-align: center;
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.33;
      letter-spacing: 0.02em;
      color: var(--description-color);
      padding-top: 32px;
      padding-bottom: 32px;
      display: flex;
      align-items: center;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }

      &:hover svg,
      &:focus svg {
        fill: var(--accent-color);
      }
    }

    &__icon {
      margin-right: 10px;
      fill: var(--description-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}*/

  /*
.header {
  background: var(--background);
  border-bottom: 1px solid var(--header-border-color);

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding-top: 24px;
    padding-bottom: 25px;

    &__studio {
      color: var(--color);
    }
  }

  .nav {
    display: flex;
    align-items: center;
    margin-left: 93px;

    &__list {
      display: flex;
      align-items: center;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
      letter-spacing: 0.02em;
      color: var(--color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__current {
      color: var(--accent-color);
    }

    &__current::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--accent-color);
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }

  .contacts {
    &__item {
      margin-right: 50px;
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.33;
      letter-spacing: 0.02em;
      color: var(--description-color);
      padding-top: 32px;
      padding-bottom: 32px;
      display: flex;
      align-items: center;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }

      &:hover svg,
      &:focus svg {
        fill: var(--accent-color);
      }
    }

    &__icon {
      margin-right: 10px;
      fill: var(--description-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
*/
}
