.portfolio {
  padding-bottom: 60px;
  padding-top: 60px;

  .filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    &__item {
      margin-right: 8px;
      margin-top: 15px;
    }
  }

  .cards {
    &__item {
      margin-bottom: 30px;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &__item:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
          0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    &__link:hover &__overlay,
    &__link:focus &__overlay {
      transform: translateY(0%);
      opacity: 1;
    }

    &__wrapper {
      position: relative;
      overflow: hidden;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);
      color: var(--background);
      padding: 63px 24px;
      overflow: auto;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__description {
      background: var(--background);
      border-right: 1px solid var(--portfolio-border-color);
      border-bottom: 1px solid var(--portfolio-border-color);
      border-left: 1px solid var(--portfolio-border-color);
      border-top: none;
      box-sizing: border-box;
      padding: 20px 24px;
    }

    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--color);
      margin-bottom: 4px;
    }

    &__category {
      font-size: 16px;
      line-height: 1.89;
      letter-spacing: 0.03em;
      color: var(--description-color);
    }
  }
}

/*
.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: -8px;

    &__item {
      margin-left: 8px;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

    &__item {
      flex-basis: calc(100% / 3 - 30px);
      margin-left: 30px;
      margin-top: 30px;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &__item:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
          0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    &__link:hover &__overlay,
    &__link:focus &__overlay {
      transform: translateY(0%);
      opacity: 1;
    }

    &__wrapper {
      position: relative;
      overflow: hidden;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);
      color: var(--background);
      padding: 63px 24px;
      overflow: auto;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__description {
      background: var(--background);
      border-right: 1px solid var(--portfolio-border-color);
      border-bottom: 1px solid var(--portfolio-border-color);
      border-left: 1px solid var(--portfolio-border-color);
      border-top: none;
      box-sizing: border-box;
      padding: 20px 24px;
    }

    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--color);
      margin-bottom: 4px;
    }

    &__category {
      font-size: 16px;
      line-height: 1.89;
      letter-spacing: 0.03em;
      color: var(--description-color);
    }
  }
}
*/
