.what-we-do {
  padding-top: 47px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  &__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  &__description {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background);
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
  }
}
