.hero-title {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.61;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
