.modal-btn {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background);
  background: var(--accent-color);
  border: 0px;
  min-width: 200px;
  padding: 10px 32px;
}
