body {
  font-family: var(--main-font);
  color: var(--color);
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.img {
  display: block;
}
