:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --color: #212121;
  --background: #ffffff;
  --contact-link-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --description-color: #757575;
  --team-background: #f5f4fa;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --clients-list-border-color: #afb1b8;
}
